.box {
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  color: white;
  
}
.image{
  position: fixed;
  top: 20px;
  left: calc(50% - 135px);
  width: 270px;

}
.left {
  position: fixed;
  top: 90px;
  left: 20px;
  height: calc(100vh - 40px);
  width: 460px;
  border-right: 1px solid darkgray;
}
.center {
  position: fixed;
  top: 100px;
  left: 500px;
  overflow-y: scroll;
  width: 920px;
  display: grid;
  gap: 1.5vw;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  padding-right:10px ;
  margin-bottom: 300px;

}

.center .item {
  background-color: transparent;

  border-radius: 8px;
  padding: 10px;
  
}

/* Tamaños aleatorios para un diseño dinámico */
.center .item:nth-child(3n) {
  grid-column: span 2;
}
.center .item:nth-child(5n) {
  grid-row: span 2;
}
.center {
  scrollbar-gutter: stable;
}
::-webkit-scrollbar{
  width: 5px;
  
}
::-webkit-scrollbar-track{
  background-color: #000000;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb{
  background-color: #525252;
  border-radius: 30px;
  
}
.right {
  position: fixed;
  top: 90px;
  left: 1440px;
  height: calc(100vh - 40px);
  width: 460px;
  border-left: 1px solid darkgray;
}

.displayBlogComponentContainer{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.219);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnGuardarContainer{
  height: 100px;
  width: 300px;
}

.btnGuardarPost{
  height: 50px;
  background-color: #272626;
  border: none;
  border-radius: 3px;
  width: 50px;
  margin-left: 30px;
  position: absolute;
  top: 50px;
  color: #f0ac19;
  cursor:pointer;
}

.whoToFollowContainer{
  width: 75%;
  height: 300px;
  
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.329);
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 20px;
  box-sizing: border-box;
}