.background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}
.container {
  position: absolute;
  top: 130px;
  left: calc(50vw - 200px);
  height: 500px;
  width: 400px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;
}
.title {
  position: relative;
  top: 40px;
  left: 30px;
  font-size: 32px;
  font-weight: 500;
}
.column {
  position: relative;
  top: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
}
.input {
  height: 30px;
  width: 300px;
  border: none;
  border: 2px solid gray;
  outline: none;
  background-color: transparent;
  transition: border-bottom 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  padding-left: 10px;
}
.input:focus {
  border: 2px solid blue;
  box-shadow: 0 2px 5px rgba(0, 0, 255, 0.5);
}
.inputAlert {
  border: 2px solid red;
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.5);
}
.button {
  position: relative;
  top: 20px;
  left: calc(50% - 200px);
  width: 300px;
}

.recoveryPassword {
  position: relative;
  top: 30px;
}
.closeButton {
  position: relative;
  top: 20px;
}
.none {
  display: none;
}
